// colors
$primary-color-light: #7ed56f;
$primary-color: #55c57a;
$primary-color-dark: #28b485;
$color-white: #fff;
$color-black: #000;


//GRID
$gutter-horizontal: 8rem;
$gutter_vertical: 6rem;
$grid-width:  114rem;

// font size
$default-font-size: 1.6rem;