.features-section {
    &__box {
        padding: 20rem 0;
    }
    &__feature {
        background-color: rgba($color-white, 0.8);
        text-align: center;
        padding: 2rem;
        height: 50%;
        transition: all .2s;
        &--img {
            width: 50%;;
        }
        &:hover {
            transform: translateY(-2rem) scale(1.05);
        }
    }
}